# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# If you are using PostgreSQL:
*.psql

# Caches
*.pycache/

# Media and static files
media/
staticfiles/

# Environments
.env
*.env
env/
venv/
venv*/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
