version: '3'

services:
  bot_service:
    build: ./bot_service
    env_file: .env
    depends_on:
      - api_gateway

  spotify_service:
    build: ./spotify_service
    env_file: .env

  database_service:
    build: ./database_service
    env_file: .env
    environment:
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    depends_on:
      - mysql

  api_gateway:
    build: ./api_gateway
    ports:
      - "8000:8000"
    depends_on:
      - spotify_service
      - database_service

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - api_gateway

volumes:
  mysql_data: